@charset "UTF-8";
/*==========メディアクエリ==========*/
/*==========ここまでメディアクエリ==========*/
/*==========全ページ共通パーツ・レイアウト==========*/
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Martel:wght@200;300&family=Noto+Serif+JP:wght@200;300;500&display=swap");
body {
  margin: 0 auto;
}
body p {
  text-align: justify;
  text-justify: inter-ideograph;
}
body .warp {
  padding: 0 2.133vw;
}

/*上に戻るボタン*/
.c-top__btn {
  content: "";
  position: fixed;
  bottom: -100px;
  right: 8px;
  z-index: 9;
  width: 60px;
  height: 60px;
}
@media only screen and (min-width: 600px) {
  .c-top__btn {
    right: 40px;
    width: 80px;
    height: 80px;
  }
}
.c-top__btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../img/top__btn.png);
  background-position: center;
  background-size: 100%;
}
.c-top__btn a:hover {
  background-image: url(../img/top__btn-hover.png);
  -webkit-animation: top-btn 1s linear infinite;
          animation: top-btn 1s linear infinite;
  transition: all 0.3s;
}
@-webkit-keyframes top-btn {
  50% {
    transform: translateY(-10px);
  }
}
@keyframes top-btn {
  50% {
    transform: translateY(-10px);
  }
}

/*円の共通*/
.c-circle span {
  display: block;
  position: absolute;
  content: "";
  /*各要素の親で円のサイズを指定する*/
  width: 100%;
  height: 100%;
  border: 2px solid #9FD1FF;
  -webkit-animation: circle 10s linear infinite;
          animation: circle 10s linear infinite;
}
.c-circle :nth-child(1) {
  border-radius: 50% 50% 45% 55%/56% 47% 53% 44%;
}
.c-circle :nth-child(2) {
  animation-direction: reverse;
  border-radius: 46% 54% 39% 61%/61% 39% 61% 39%;
}
.c-circle :nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  border-radius: 46% 54% 39% 61%/61% 39% 61% 39%;
}
@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    background-color: rgba(141, 238, 233, 0.1);
  }
  60% {
    background-color: rgba(174, 210, 243, 0.2);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    background-color: rgba(141, 238, 233, 0.1);
  }
  60% {
    background-color: rgba(174, 210, 243, 0.2);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*===========================loading(全ページ共通)=============================*/
.l-loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fffcf4;
  z-index: 9999;
  top: 0%;
  left: 0%;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
.l-loading .p-loading-circle {
  position: absolute;
  /*ここで円のサイズを指定*/
  width: 30vw;
  height: 30vw;
  min-width: 260px;
  min-height: 260px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.l-loading h2 {
  /*font-size1.6rem基準*/
  font-size: clamp(1.4rem , 4.266vw , 1.8rem);
  -webkit-animation: load 2s linear infinite;
          animation: load 2s linear infinite;
  color: #323232;
}
@media only screen and (min-width: 1025px) {
  .l-loading h2 {
    font-size: 2.4rem;
  }
}
@-webkit-keyframes load {
  50% {
    opacity: 0.4;
    transform: translateY(-4px);
  }
  80% {
    opacity: 0.6;
  }
}
@keyframes load {
  50% {
    opacity: 0.4;
    transform: translateY(-4px);
  }
  80% {
    opacity: 0.6;
  }
}
.l-loading.active {
  opacity: 1;
  visibility: visible;
}

/*===========================/loading(全ページ共通)=============================*/
/*============================header=============================*/
.l-header {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 1.3vw 2.133vw;
  top: 0%;
}

.p-header__logo {
  position: fixed;
  width: 60px;
  left: 2.33vw;
  z-index: 9999;
}
@media only screen and (min-width: 600px) {
  .p-header__logo {
    width: 76px;
  }
}
@media only screen and (min-width: 1025px) {
  .p-header__logo {
    position: static;
    width: 80px;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~ハンバーガーボタン~~~~~~~~~~~~~~~~~~~~~~*/
.l-hamubtn {
  display: block;
  width: 54px;
  height: 54px;
  position: absolute;
  z-index: 9999;
  right: 2.33vw;
}
@media only screen and (min-width: 600px) {
  .l-hamubtn {
    width: 72px;
    height: 72px;
  }
}
@media only screen and (min-width: 1025px) {
  .l-hamubtn {
    top: 7%;
    width: 88px;
    height: 88px;
  }
}
.l-hamubtn span {
  display: block;
  background-color: #323232;
  border-radius: 4px;
  width: 80%;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
@media only screen and (min-width: 1025px) {
  .l-hamubtn span {
    width: 60%;
  }
}
.l-hamubtn span:nth-of-type(1) {
  top: 20%;
}
@media only screen and (min-width: 1025px) {
  .l-hamubtn span:nth-of-type(1) {
    top: 30%;
  }
}
.l-hamubtn span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.l-hamubtn span:nth-of-type(3) {
  bottom: 20%;
}
@media only screen and (min-width: 1025px) {
  .l-hamubtn span:nth-of-type(3) {
    bottom: 30%;
  }
}

/* l-hamubtnをクリックした時の指定(×になるための指定) */
.l-hamubtn.active span:nth-of-type(1) {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  transition: 0.4s;
}
.l-hamubtn.active span:nth-of-type(2) {
  opacity: 0;
  transition: 0.1;
}
.l-hamubtn.active span:nth-of-type(3) {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transition: 0.4s;
}

/*~~~~~~~~~~~~~~~~~~~~~~/ハンバーガーボタン~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~ナブメニュー~~~~~~~~~~~~~~~~~~~~~~*/
.l-nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  transition: ease 0.8s;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
}

.l-nav__right {
  margin: 120px auto 0;
  width: 80%;
}
@media only screen and (min-width: 1025px) {
  .l-nav__right {
    position: absolute;
    width: 50vw;
    height: 100%;
    margin: 0;
    padding: 1.3vw 5.85vw;
    top: 0%;
    right: 0%;
    transform: translate(0%, 0%);
    z-index: -1;
  }
}

.c-nav__logo {
  display: none;
}
@media only screen and (min-width: 1025px) {
  .c-nav__logo {
    display: block;
    position: static;
    width: 80px;
    transform: translateX(0%);
  }
}

/*ナブメニューリスト*/
@media only screen and (min-width: 1025px) {
  .c-nav__list {
    padding: 11.45% 0 7.812%;
  }
}
.c-nav__list .c-nav__item {
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 1px #707070 solid;
}
.c-nav__list .c-nav__item .c-nav__link {
  display: block;
  padding: 24px 0%;
}
@media only screen and (min-width: 1025px) {
  .c-nav__list .c-nav__item .c-nav__link {
    padding: 5% 0;
  }
}

.c-nav__sns {
  display: flex;
}
.c-nav__sns .c-nav__sns-link {
  width: clamp(40px , 11.2vw , 60px);
  margin-top: 42px;
  margin-right: 7.02%;
}
@media only screen and (min-width: 1025px) {
  .c-nav__sns .c-nav__sns-link {
    width: 9.2%;
    margin-top: 0%;
  }
}

.c-nav__item:nth-of-type(1) {
  border-top: 1px #707070 solid;
}

:nth-of-type(2) {
  margin: 0;
}

.c-nav__item a:hover {
  color: #fff;
}

.c-nav__item a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0%;
  z-index: -1;
  transition: all 0.4s;
}

.c-nav__item a:hover::before {
  left: 0%;
  width: 100%;
  background-color: #9FD1FF;
}

/*~~~~~~~~~~~~~~~~~~~~~~ここまでナブメニュー~~~~~~~~~~~~~~~~~~~~~~*/
.panelactive {
  opacity: 1;
  visibility: visible;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0%;
  transition: ease 0.4s;
}

/*============================/header=============================*/
/*============================body全体レイアウト(全ページ共通)=============================*/
.l-warp {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 4.226%;
}

/*============================section(共通)=============================*/
.l-section__contents {
  margin: 0 auto;
}
@media only screen and (min-width: 1025px) {
  .l-section__contents {
    padding-bottom: clamp(120px , 13.177vw , 200px);
  }
}

.c-section__inner {
  padding-top: 30vw;
}
@media only screen and (min-width: 600px) {
  .c-section__inner {
    padding-top: 26.66vw;
  }
}
@media only screen and (min-width: 1025px) {
  .c-section__inner {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0% 0% 0%;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~section__title~~~~~~~~~~~~~~~~~~~~~~*/
.c-section__title {
  margin: 0 auto 16.2vw;
}
@media only screen and (min-width: 1025px) {
  .c-section__title {
    margin: 0 auto 6.43vw;
  }
}

.c-section__title {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #323232;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .c-section__title {
    justify-content: center;
    width: 70.3vw;
    padding: 0 8px;
  }
}
@media only screen and (min-width: 1025px) {
  .c-section__title {
    width: 43.19vw;
  }
}
.c-section__title::after, .c-section__title::before {
  display: none;
}
@media only screen and (min-width: 600px) {
  .c-section__title::after, .c-section__title::before {
    content: "";
    display: block;
    align-items: center;
    height: 1px;
    background-color: #323232;
    width: 20.833vw;
  }
}
@media only screen and (min-width: 1025px) {
  .c-section__title::after, .c-section__title::before {
    width: 11.71vw;
  }
}
@media only screen and (min-width: 600px) {
  .c-section__title .section__title-inner {
    padding: 0 4%;
  }
}

.c-section__title-main {
  color: #000;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*-----section__title(about)-----*/
#about .section__title-inner {
  padding: 0 4% 0 0%;
  margin-right: 4%;
}
@media only screen and (min-width: 600px) {
  #about .section__title-inner {
    padding: 0 3% 0 4%;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~/section__title~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~c-button~~~~~~~~~~~~~~~~~~~~~~*/
/*-----c-button(全ページ共通)-----*/
.c-button {
  text-align: center;
  margin: 0 auto;
}
.c-button .c-button__inner {
  position: relative;
  display: inline-block;
  border: #323232 1px solid;
  border-radius: 6px;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  .c-button .c-button__inner {
    width: auto;
  }
}
.c-button .c-button__inner::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  transition: all 0.3s;
}
.c-button .c-button__inner:hover {
  border-color: #9fd1ff;
  color: #fff;
}
.c-button .c-button__inner:hover::after {
  width: 100%;
  background-color: #9fd1ff;
  transition: all 0.4s;
}
.c-button .c-button__inner:hover::before {
  border-color: #fff;
}
.c-button :before {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 0.4em;
  height: 0.4em;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
  margin-top: -5px;
}

/*-----c-button(各ページ)-----*/
.p-works__link-btn a {
  padding: 4% 33%;
}

.p-contact__link-btn a {
  padding: 5% 10%;
}
@media only screen and (min-width: 600px) {
  .p-contact__link-btn a {
    padding: 4% 20%;
  }
}
@media only screen and (min-width: 1025px) {
  .p-contact__link-btn a {
    padding: 2% 16%;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~/c-button~~~~~~~~~~~~~~~~~~~~~~*/
/*============================/section(共通)=============================*/
/*============================mainvisual=============================*/
.l-main__mv {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 740px;
}
@media only screen and (min-width: 600px) {
  .l-main__mv {
    min-height: 800px;
    max-height: auto;
    max-height: inherit;
  }
}
.l-main__mv .p-mv__inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0%;
}
.l-main__mv .p-mv__inner .p-mv__img {
  position: absolute;
  width: 95vw;
  height: 95vw;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 540px;
  max-height: 540px;
  margin: 0% auto;
}
.l-main__mv .p-mv__inner .p-mv__img img {
  position: absolute;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .l-main__mv .p-mv__inner .p-mv__img {
    width: 65.1%;
  }
}
.l-main__mv .p-mv__inner .p-mv__img img {
  width: 100%;
}
.l-main__mv .p-mv__inner .p-mv__img span {
  position: absolute;
  display: inline-block;
  content: "";
  width: 32vw;
  height: 32vw;
  border: solid 2px rgba(159, 209, 255, 0.5);
  -webkit-animation: mv__logo 15s linear infinite;
          animation: mv__logo 15s linear infinite;
}
.l-main__mv .p-mv__inner .p-mv__img span:nth-child(1) {
  top: 0%;
  right: 10.3%;
  border-radius: 43% 57% 54% 46%/57% 56% 44% 43%;
}
.l-main__mv .p-mv__inner .p-mv__img span:nth-child(2) {
  top: 50%;
  border-radius: 36% 64% 56% 44%/53% 45% 55% 47%;
  -webkit-animation-delay: all 3s;
          animation-delay: all 3s;
}
@-webkit-keyframes mv__logo {
  0% {
    transform: rotate(0deg);
  }
  25% {
    background-color: rgba(159, 209, 255, 0.5);
  }
  50% {
    background-color: rgba(74, 202, 196, 0.2);
    border-color: rgba(74, 202, 196, 0.2);
  }
  75% {
    background-color: rgba(159, 209, 255, 0.5);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes mv__logo {
  0% {
    transform: rotate(0deg);
  }
  25% {
    background-color: rgba(159, 209, 255, 0.5);
  }
  50% {
    background-color: rgba(74, 202, 196, 0.2);
    border-color: rgba(74, 202, 196, 0.2);
  }
  75% {
    background-color: rgba(159, 209, 255, 0.5);
  }
  100% {
    transform: rotate(360deg);
  }
}
.l-main__mv .p-mv__inner .p-mv__title {
  position: absolute;
  width: 96%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 600px) {
  .l-main__mv .p-mv__inner .p-mv__title {
    width: 84%;
    max-width: 620px;
    top: 64.74%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.l-main__mv .p-mv__inner .p-mv__title .p-mv__title-inner {
  margin: 0 auto;
}
.l-main__mv .p-mv__inner .p-mv__title span {
  display: inline-block;
  margin-bottom: 6px;
}
.l-main__mv .p-mv__inner .p-mv__title .p-mv__text-01 {
  margin-left: 1vw;
}
@media only screen and (min-width: 1025px) {
  .l-main__mv .p-mv__inner .p-mv__title .p-mv__text-01 {
    margin: 0;
  }
}
.l-main__mv .p-mv__inner .p-mv__title .p-mv__text-03 {
  margin-bottom: 16px;
}
.l-main__mv .p-mv__inner .p-mv__title .p-mv__text-04 {
  margin-left: -2.02vw;
}
@media only screen and (min-width: 1025px) {
  .l-main__mv .p-mv__inner .p-mv__title .p-mv__text-04 {
    margin-left: -1.02vw;
  }
}

@media only screen and (min-width: 1025px) {
  .l-main__mv {
    height: 100vh;
    width: 100%;
  }
  .l-main__mv .p-mv__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    max-height: initial;
    max-height: auto;
    padding: 0%;
    margin: 0 auto;
  }
  .l-main__mv .p-mv__inner .p-mv__img {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    order: 2;
    width: 50vw;
    height: 50vw;
    max-width: 600px;
    max-height: 600px;
    margin: 0 32px 0;
  }
  .l-main__mv .p-mv__inner .p-mv__img img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .l-main__mv .p-mv__inner .p-mv__img span {
    position: absolute;
    display: inline-block;
    content: "";
  }
  .l-main__mv .p-mv__inner .p-mv__img span:nth-child(1) {
    width: 15vw;
    height: 15vw;
    max-width: 200px;
    max-height: 200px;
    top: 16%;
    right: 10.3%;
    border-radius: 44% 56% 56% 44%/53% 53% 47% 47%;
  }
  .l-main__mv .p-mv__inner .p-mv__img span:nth-child(2) {
    width: 24vw;
    height: 24vw;
    max-width: 300px;
    max-height: 300px;
    left: 0%;
    top: 35%;
    border-radius: 47% 53% 40% 60%/57% 55% 45% 43%;
  }
  .l-main__mv .p-mv__inner .p-mv__title {
    position: static;
    transform: translate(0%, 0%);
    order: 1;
    margin: 0%;
    width: auto;
  }
  .l-main__mv .p-mv__inner .p-mv__title .p-mv__title-inner {
    margin: 0 auto;
  }
  .l-main__mv .p-mv__inner .p-mv__title span {
    display: inline-block;
    margin-bottom: 6px;
  }
  .l-main__mv .p-mv__inner .p-mv__title .p-mv__text-01, .l-main__mv .p-mv__inner .p-mv__title .p-mv__text-04 {
    margin: 0;
  }
  .l-main__mv .p-mv__inner .p-mv__title .p-mv__text-01 {
    margin-left: 6px;
  }
  .l-main__mv .p-mv__inner .p-mv__title .p-mv__text-03 {
    margin-left: 4px;
  }
  .l-main__mv .p-mv__inner .p-mv__title .p-mv__text-04 {
    margin-left: -10px;
  }
}
/*============================/mainvisual=============================*/
/*============================about=============================*/
@media only screen and (min-width: 1025px) {
  #about .c-section__inner .l-about__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#about .c-section__inner .l-about__item .c-about__item-img {
  width: 78vw;
  margin: 0 auto 11.73vw;
}
@media only screen and (min-width: 600px) {
  #about .c-section__inner .l-about__item .c-about__item-img {
    width: 61.94vw;
    margin-bottom: 5.014vw;
  }
}
@media only screen and (min-width: 1025px) {
  #about .c-section__inner .l-about__item .c-about__item-img {
    width: 30.746vw;
    max-width: 460px;
    margin: 0;
    padding: 0;
  }
}
#about .c-section__inner .l-about__item .p-about__text {
  padding: 0 4px;
}
@media only screen and (min-width: 1025px) {
  #about .c-section__inner .l-about__item .p-about__text {
    width: 38.799vw;
    margin-left: 12.29vw;
    padding: 0%;
  }
}
#about .c-section__inner .l-about__item .p-about__text .p-about__text-01 {
  margin-bottom: 6.4vw;
}
@media only screen and (min-width: 1025px) {
  #about .c-section__inner .l-about__item .p-about__text .p-about__text-01 {
    margin-bottom: 3.513vw;
  }
}
#about .c-section__inner .l-about__item .p-about__text .p-about__text-01 span {
  margin-left: 1.6vw;
}
#about .c-section__inner .l-about__item .p-about__text .p-about__text-02 {
  margin-bottom: 11.733vw;
}
@media only screen and (min-width: 1025px) {
  #about .c-section__inner .l-about__item .p-about__text .p-about__text-02 {
    margin-bottom: 2.34vw;
  }
}
#about .c-section__inner .l-about__item .p-about__text .p-about__text-03 {
  margin-bottom: 4.266vw;
}
@media only screen and (min-width: 1025px) {
  #about .c-section__inner .l-about__item .p-about__text .p-about__text-03 {
    margin-bottom: 2.049vw;
  }
}
#about .c-section__inner .l-about__item .p-about__text .p-about__genre {
  margin-bottom: 2.133vw;
}
@media only screen and (min-width: 1025px) {
  #about .c-section__inner .l-about__item .p-about__text .p-about__genre {
    margin-bottom: 1.171vw;
  }
}

/*============================/about=============================*/
/*============================skill=============================*/
#skill {
  text-align: center;
}
@media only screen and (min-width: 1025px) {
  #skill .p-skill__item-inner {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;
  }
}
#skill .p-skill__item-inner .p-skill__item-list {
  margin: 0 auto 32vw;
}
@media only screen and (min-width: 600px) {
  #skill .p-skill__item-inner .p-skill__item-list {
    width: 80%;
  }
}
@media only screen and (min-width: 1025px) {
  #skill .p-skill__item-inner .p-skill__item-list {
    margin: 0;
    width: 24.15vw;
    max-width: 400px;
  }
}
#skill .p-skill__item-inner .p-skill__item-list img {
  margin: -8vw auto 14.933vw;
  width: 90%;
}
@media only screen and (min-width: 600px) {
  #skill .p-skill__item-inner .p-skill__item-list img {
    width: 90%;
    margin: -4vw auto 10vw;
  }
}
@media only screen and (min-width: 1025px) {
  #skill .p-skill__item-inner .p-skill__item-list img {
    width: 100%;
    margin: 0 auto 1.46vw;
  }
}
#skill .p-skill__item-inner .p-skill__item-list:nth-of-type(3) {
  margin-bottom: 0;
}

/*============================/skill=============================*/
/*============================works=============================*/
#works {
  text-align: center;
  /*l-works__item*/
  /*p-works__item-02*/
}
#works .c-section__inner {
  padding-top: 45vw;
}
@media only screen and (min-width: 600px) {
  #works .c-section__inner {
    padding-top: 0;
  }
}
@media only screen and (min-width: 1025px) {
  #works .l-works__item {
    display: flex;
    justify-content: space-around;
  }
}
#works .p-works__item-02 {
  margin-top: 14.4vw;
}
@media only screen and (min-width: 1025px) {
  #works .p-works__item-02 {
    margin-top: 0;
  }
}
#works .p-works__item-02 .p-works__item_text {
  text-align: center;
}
#works .p-works__item-02 .p-works__link-btn {
  max-width: 800px;
  margin-top: 7.174vw;
}

/*p-works__item-01*/
.p-works__item-01 {
  /*ここでスライダーの幅を指定*/
  width: 92vw;
  max-width: 720px;
  margin: 0 auto;
}
@media only screen and (min-width: 1025px) {
  .p-works__item-01 {
    width: 50%;
    margin: 0%;
  }
}

.slideShow {
  position: relative;
  border-radius: 2%;
  margin: 0 auto;
}

.slideShow ul.imgWrap {
  display: flex;
  flex-flow: row nowrap;
}

.slideShow ul.imgWrap li {
  display: none;
  width: 100%;
  list-style-type: none;
}

.slideShow ul.imgWrap li.is-show {
  display: block;
  -webkit-animation: slideAnime 300ms ease-out 0ms 1 normal both;
          animation: slideAnime 300ms ease-out 0ms 1 normal both;
}

/*imgをクリックするために指定*/
.is-show a {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes slideAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slideShow ul.imgWrap li img {
  width: 100%;
  border-radius: 1.5%;
}

.slideShow button {
  /*ボタンのサイズを指定*/
  display: inline-block;
  position: absolute;
  width: 11.73vw;
  height: 11.73vw;
  top: calc( 50% - 20px );
  transition: transform 200ms;
  max-width: 80px;
}
@media only screen and (min-width: 1025px) {
  .slideShow button {
    width: 4vw;
    height: 4vw;
  }
}

.slideShow button.btn-prev {
  /*ボタンの位置を指定*/
  left: -3%;
  transform: rotate(180deg);
}

.slideShow button.btn-prev:hover {
  transform: rotate(180deg) scale(1.1);
}

.slideShow button.btn-next {
  /*ボタンの位置を指定*/
  right: -3%;
  transform: rotate(0deg);
}

.slideShow button.btn-next:hover {
  transform: rotate(0deg) scale(1.1);
}

/*============================contact=============================*/
#contact .c-section__inner {
  padding-top: 45vw;
}
@media only screen and (min-width: 600px) {
  #contact .c-section__inner {
    padding: 0%;
  }
}
#contact .c-section__inner .contact__item {
  padding-bottom: 37.33vw;
}
@media only screen and (min-width: 1025px) {
  #contact .c-section__inner .contact__item {
    margin: 0 auto;
    padding: 0;
  }
}
#contact .c-section__inner .contact__item .p-contact__item-text {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 19.2vw;
}
@media only screen and (min-width: 1025px) {
  #contact .c-section__inner .contact__item .p-contact__item-text {
    margin-bottom: 3.806vw;
  }
}
#contact .c-section__inner .contact__item .p-contact__item-text p {
  text-align: center;
}

/*============================/contact=============================*/
/*============================footer=============================*/
#footer {
  position: relative;
  text-align: center;
  background-color: #000000;
  padding: 26.6vw 0 6.4vw;
}
@media only screen and (min-width: 1025px) {
  #footer {
    width: 100%;
    height: 120px;
    padding: 0;
    margin: 0 auto;
  }
}
#footer .c-footer__endtext {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 4%;
}

/*============================/footer=============================*/
/*============================背景、画像=============================*/
.t-body {
  background-color: #FFFCF4;
}

body::before {
  content: "";
  position: fixed;
  display: block;
  background-image: url(../img/background__line.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.l-nav {
  background-color: #fff;
}
@media only screen and (min-width: 1025px) {
  .l-nav {
    background-color: rgba(0, 0, 0, 0.85);
  }
}
.l-nav .l-nav__right {
  background-color: #fff;
}

/*============================ここまで背景、画像=============================*/
/*============================フォントサイズ　フォントファミリー=============================*/
/*~~~~~~~~~~~~~~~~~~~~~~font-size(全ページ)~~~~~~~~~~~~~~~~~~~~~~*/
body {
  font-family: "Martel", "Noto Serif JP", serif;
  /*footer*/
}
body p {
  color: #323232;
  font-family: "Noto Serif JP";
  /*fontsize (1.5rem基準)*/
  font-size: clamp(1.5rem , 4vw , 1.8rem);
  font-weight: 300;
  line-height: 2;
  letter-spacing: clamp(0.4rem , 0.3vw , 1.2rem);
}
@media only screen and (min-width: 600px) {
  body p {
    /*fontsize (1.8rem基準)*/
    font-size: clamp(1.6rem , 2.34vw , 2.2rem );
  }
}
@media only screen and (min-width: 1025px) {
  body p {
    /*fontsize (1.6rem基準)*/
    font-size: clamp(1.6rem , 1.171vw ,1.8rem );
  }
}
body .c-nav__link {
  font-size: clamp(2.4rem , 6.933vw , 2.6rem);
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  body .c-nav__link {
    font-size: 1.9vw;
    padding: 2.34vw 0;
  }
}
body .c-button a {
  font-size: clamp(1.6rem , 3.2vw , 2.4rem);
  font-weight: 200;
  letter-spacing: clamp(0.6rem , 0.4vw , 1.2rem);
}
@media only screen and (min-width: 1025px) {
  body .c-button a {
    font-size: clamp(1.6rem , 1.171vw ,2.4rem );
  }
}
body #footer p {
  /*fontsize (1.4rem基準)*/
  font-size: 1.4rem;
  font-family: "sans-serif";
  color: #fff;
}

/*~~~~~~~~~~~~~~~~~~~~~~font-size(各ページ)~~~~~~~~~~~~~~~~~~~~~~*/
body {
  /*-----mv-----*/
  /*-----/mv-----*/
  /*-----section__title-----*/
  /*-----/section__title-----*/
  /*-----about-----*/
  /*-----/about-----*/
  /*-----------skill-----------*/
  /*-----------/skill-----------*/
  /*-----------works-----------*/
  /*-----------/works-----------*/
  /*-----------contact-----------*/
  /*-----------/contact-----------*/
}
body .p-mv__title {
  color: #323232;
  font-weight: 200;
}
body .p-mv__text {
  display: inline-block;
  letter-spacing: 1.06vw;
  /*fontsize (1.4rem基準)*/
  letter-spacing: clamp(0.7rem , 1.02vw , 1.6rem);
}
body .p-mv__text-01 {
  /*fontsize (1.8rem基準)*/
  font-size: clamp(1.4rem , 4.8vw , 2.2rem);
}
@media only screen and (min-width: 600px) {
  body .p-mv__text-01 {
    font-size: clamp(2.4rem, 4.68vw , 3.8rem);
  }
}
@media only screen and (min-width: 1025px) {
  body .p-mv__text-01 {
    /*fontsize (2.8rem基準)*/
    font-size: clamp(2.4rem , 2.04vw , 3.4rem);
  }
}
body .p-mv__text-02 {
  /*fontsize (5.4rem基準)*/
  font-size: clamp(5rem , 14.4vw , 5.8rem);
  letter-spacing: 1.6vw;
  font-weight: 200;
}
@media only screen and (min-width: 600px) {
  body .p-mv__text-02 {
    font-size: clamp(8rem, 11.45vw , 9rem);
  }
}
@media only screen and (min-width: 1025px) {
  body .p-mv__text-02 {
    /*fontsize (8rem基準)*/
    font-size: clamp(7.6rem , 5.85vw , 8.6rem);
  }
}
body .p-mv__text-03 {
  /*fontsize (2.8rem基準)*/
  font-size: clamp(2.4rem , 7.46vw , 3.2rem);
}
@media only screen and (min-width: 600px) {
  body .p-mv__text-03 {
    font-size: clamp(2.4rem, 4.68vw , 3.8rem);
  }
}
@media only screen and (min-width: 1025px) {
  body .p-mv__text-03 {
    /*fontsize (2.8rem基準)*/
    font-size: clamp(2.4rem , 2.04vw , 3.4rem);
  }
}
body .p-mv__text-04 {
  /*fontsize (1.8rem基準)*/
  font-size: clamp(1.4rem , 4.8vw , 2.2rem);
}
@media only screen and (min-width: 600px) {
  body .p-mv__text-04 {
    font-size: clamp(2rem , 4.719vw , 3.4rem);
  }
}
@media only screen and (min-width: 1025px) {
  body .p-mv__text-04 {
    /*fontsize (2.6rem基準)*/
    font-size: clamp(2.2rem , 1.90vw , 3.2rem);
  }
}
body .c-section__title {
  color: #323232;
}
@media only screen and (min-width: 600px) {
  body .c-section__title::after, body .c-section__title::before {
    background-color: #323232;
  }
}
body .c-section__title-sub {
  font-family: "Italianno", cursive;
}
body .c-section__title-sub {
  font-size: clamp(9rem , 20vw , 30rem);
  color: rgba(159, 209, 255, 0.4);
}
@media only screen and (min-width: 600px) {
  body .c-section__title-sub {
    font-size: clamp( 11.6rem , 17.699vw , 12.4rem);
  }
}
@media only screen and (min-width: 1025px) {
  body .c-section__title-sub {
    font-size: clamp(11.6rem , 8.784vw , 13rem);
  }
}
body .c-section__title-main {
  color: #000;
  font-size: clamp(2.6rem , 6vw , 3.4rem);
}
@media only screen and (min-width: 600px) {
  body .c-section__title-main {
    font-size: clamp(3.2rem , 44.719vw , 3.6rem);
  }
}
body .p-about__text .p-about__text-01 {
  color: black;
}
body .p-about__text .p-about__text-01 p {
  text-align: start;
  font-size: clamp(2.2rem , 6.4vw , 4rem);
}
@media only screen and (min-width: 1025px) {
  body .p-about__text .p-about__text-01 p {
    font-size: 2.04vw;
  }
}
body .p-about__text .p-about__text-01 p span {
  font-size: clamp(1.4rem , 4.266vw , 2.6rem );
  color: #707070;
}
@media only screen and (min-width: 1025px) {
  body .p-about__text .p-about__text-01 p span {
    font-size: 1.171vw;
  }
}
body .p-about__text .p-about__genre {
  font-size: clamp(1.6rem , 3.539vw , 2.4rem);
  color: #000;
  font-weight: 400;
}
@media only screen and (min-width: 1025px) {
  body .p-about__text .p-about__genre {
    font-size: clamp(1.6rem , 1.317vw , 2rem);
  }
}
body h4 {
  font-size: clamp(2.2rem , 5vw , 3.2rem);
}
@media only screen and (min-width: 1025px) {
  body h4 {
    font-size: clamp(2rem , 1.90vw , 2.6rem);
  }
}
body .p-works__item_text {
  /*fontsize (1.6rem基準)*/
  font-size: clamp(1.2rem , 4.266vw , 2rem);
}
@media only screen and (min-width: 1025px) {
  body .p-works__item_text {
    font-size: clamp(2.4rem , 1.75vw , 2.4rem);
  }
}
body .p-contact__item-text p {
  /*fontsize (1.6rem基準)*/
  font-size: clamp(1.2rem , 4.266vw , 2rem);
}
@media only screen and (min-width: 1025px) {
  body .p-contact__item-text p {
    font-size: clamp(1.6rem , 1.75vw , 2.6rem);
  }
}

/*============================js=============================*/
.js-clear {
  opacity: 0;
}

.js-scroll__clear {
  opacity: 1;
  transition: all 1.5s;
}

.js-fadein {
  opacity: 0;
}

.top {
  transform: translate(0px, -20px);
  transition: transform 2s ease-out, opacity 1.5s;
}

.right {
  transform: translate(14px, 0px);
  transition: transform 2s ease-out, opacity 1.5s;
}

.js-scroll__fadein {
  opacity: 1;
  transform: translate(0, 0);
}

/*============================/js=============================*//*# sourceMappingURL=style.css.map */